.main-header {
  color: $white;
  text-shadow: 2px 2px $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/header-bg1.jpeg");
  background-position: -80px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0 15px;
}

.main-header__title {
  // font-family: 'Caveat', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  line-height: 50px;
  // color: $black;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 345px;
  margin-top: 250px;

  span {
    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.main-header__date {
  // font-family: 'Caveat', cursive;
  // font-size: 38px;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 5px 5px $black;
  position: relative;
  display: flex;
  column-gap: 45px;
  margin-top: 100px;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50px;
    height: 40px;
    width: 2px;
    background-color: $white;
  }

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 85px;
    height: 40px;
    width: 2px;
    background-color: $white;
  }
}
