.wishes {
  color: $white;
  background-color: $black;
}

.wishes__title {
  text-align: center;
}

.wishes__description {
  text-align: center;
}

.wishes__list {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 30px;
}

.wishes__item {
  position: relative;
  padding-left: 10px;
  list-style-position: inside;

  &::marker {
    font-family: 'Caveat', cursive;
    font-size: 35px;
  }
}
